@font-face {
  font-family: "iconfont"; /* Project id 3805385 */
  src: url('iconfont.woff2?t=1672394441346') format('woff2'),
       url('iconfont.woff?t=1672394441346') format('woff'),
       url('iconfont.ttf?t=1672394441346') format('truetype'),
       url('iconfont.svg?t=1672394441346#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-PCB:before {
  content: "\e71c";
}

.icon-RFQ-line:before {
  content: "\e71b";
}

.icon-warn:before {
  content: "\e6d1";
}

.icon-Sample:before {
  content: "\e717";
}

.icon-Upload:before {
  content: "\e718";
}

.icon-delete:before {
  content: "\e719";
}

.icon-view:before {
  content: "\e71a";
}

.icon-a-3D:before {
  content: "\e715";
}

.icon-search:before {
  content: "\e70d";
}

.icon-category:before {
  content: "\e70e";
}

.icon-tiling:before {
  content: "\e70f";
}

.icon-customer-support:before {
  content: "\e710";
}

.icon-a-star:before {
  content: "\e711";
}

.icon-transverse:before {
  content: "\e712";
}

.icon-transverse-line:before {
  content: "\e713";
}

.icon-tiling-line:before {
  content: "\e714";
}

.icon-correct:before {
  content: "\e70c";
}

.icon-mail:before {
  content: "\e708";
}

.icon-phone:before {
  content: "\e709";
}

.icon-RFQ:before {
  content: "\e70a";
}

.icon-order-query:before {
  content: "\e70b";
}

.icon-logo-skype:before {
  content: "\e706";
}

.icon-shopping-cart:before {
  content: "\e707";
}

