// mobile, icons
.spriteIcons {
    background-image: url('/static/img/mobile/icon1.svg');
    background-repeat: no-repeat;
    background-size: 760px 210px;
}

.spriteIcon17 {
    width: 40px;
    height: 35px;
    background-position: -357px -11px;
}
.spriteIcon18 {
    width: 53px;
    height: 30px;
    background-position: -2px -2px;
}