.compareContainer {
	padding: 4px 30px 20px 30px;
	background: #F5F5F5;
	font-family: Arial;

	.titleDes {
		font-weight: bold;
		font-size: 24px;
		color: #181818;
	}

	.part {
		font-weight: 400;
		font-size: 14px;
		color: #1770DE !important;
	}

	.compareContent {
		border-radius: 6px 6px 6px 6px;
		border: 1px solid #D3D3D3;

		.tableCell {
			padding: 0px !important;
		}
	}

	.title {
		font-weight: bold;
		font-size: 13px;
		color: #181818;
		width: 200px;
	}

	.pContent {
		width: 300px;
		font-weight: 400;
		font-size: 13px;
		color: #181818;
		line-height: 16px;
		text-align: center
	}

	.thClass {
		background: #E3E4E6;
	}

	.trClass {
		td {
			padding: 8px;
			border-right: 1px solid #D3D3D3; // 为每一个单元格添加右边框，除了最后一个

			&:last-child {
				border-right: none; // 移除最后一个单元格的右边框
			}
		}
	}

	.compareTable {
		// width: 100%;
		overflow: auto;
		// overflow: hidden;
		margin-bottom: 0px !important;

		table {
			width: max-content;
			/* 宽度充满父容器 */
			// border-collapse: collapse;
			/* 边框合并，使得表格内容紧凑 */

			.stickyFirstColumn {
				position: sticky;
				left: 0;
				// background-color: #fff;
				z-index: 1;
				/* 添加阴影效果 */
			}
		}

		.stickyFirstTheadTh {
			position: sticky !important;
			min-width: 300px;
			z-index: 2 !important;
			left: 0;
			padding: 0 8px;
			background: #E3E4E6;
		}
	}

	/* 自定义滚动条（只适用于 WebKit 浏览器） */
	.compareTable::-webkit-scrollbar {
		width: 12px;
		/* 垂直滚动条的宽度 */
		height: 12px;
		/* 水平滚动条的高度 */
	}

	.compareShow {
		box-shadow: 5px 0px 0px rgba(0, 0, 0, 0.1);
		background-color: white !important;
	}

	.compareStikyHover {
		background-color: #dcf4ff !important;
	}
}