.ps-form--quick-search {
	display: flex;
	flex-flow: row nowrap;
	position: relative;

	>* {
		flex-basis: 100%;
	}

	.ps-form__input {
		width: 280px;
		position: relative;
		transition: all .4s ease-in-out;

		>.ps-form__action {
			// @include vertical-align();
			right: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 24px;
			font-size: 12px;
			color: $color-danger;
		}
	}



	.ant-select {
		.ant-select-selection {
			height: 42px;
			border-radius: 0;
			border: none;

			.ant-select-selection__rendered {
				border: none;
				line-height: 42px;
				border-radius: 0;
			}
		}
	}

	.form-control {
		font-family: Arial;
		font-size: 12px;
		height: 32px;
		border-radius: 6px;
		padding-right: 45px;

		&::-webkit-input-placeholder {
			color: $color-font9;
			font-size: 13px;
		}
	}

	.ps-search-focus {
		width: 350px;
	}

	@media (max-width: 1400px) {
		.ps-form__input {
			width: 190px;
		}

		.ps-search-focus {
			width: 230px;
		}
	}

	.form-group--icon {
		background-color: #ffffff;
		border-radius: 4px 0 0 4px;

		i {
			z-index: 1;
		}
	}

	select.form-control {
		border-right: 1px solid #ccc;
		border-radius: 4px 0 0 4px;
		padding: 0 10px;
		text-indent: 10px;
		position: relative;
		z-index: 2;
		background-color: transparent;

		@include placeholder() {
			color: rgba(102, 102, 102, 1);
		}

		font-family: Arial;
		font-size: 12px;
		margin-top: 1px;
	}

	.search-btn {
		position: absolute;
		right: 15px;
		top: 7px;
		cursor: pointer;
	}


}

.ps-panel--search-result {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #eaeaea;
	box-shadow: 0px 8px 10px 0px rgba(211, 211, 211, 0.5);
	border-radius: 6px;
	@include transform(scale3d(1, 1, 0));
	transition: all 0.4s ease;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	cursor: pointer;

	&.active {
		@include transform(scale3d(1, 1, 1));
		opacity: 1;
		visibility: visible;
	}
}

.nav-search-item>a {
	display: block;
	font-size: 14px;
	color: #2c3645;
	line-height: 22px;
	padding: 8px 10px;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		background-color: rgba(23, 112, 222, 0.1);

		p {
			color: $color-link !important;
		}
	}
}

.ps-input-search-name {
	.ps-panel__content {
		max-height: 400px;
		overflow-y: auto;
	}

	.search-found {
		padding-left: 25px;
		height: 36px;
		line-height: 36px;
		color: $color-text;
		font-size: 13px
	}

	.recent-products {
		display: flex;
		flex-wrap: wrap;
		padding: 0 25px;

		.recent-products-name {
			display: flex;
			align-items: center;
			// height: 26px;
			min-height: 26px;
			padding: 0 10px;
			margin: 0 10px 10px 0;
			border: 1px solid $color-bgcd3;
			border-radius: 6px;
			font-size: 12px;

			&:hover {
				background-color: $color-link;
				color: $color-white;

				a {
					color: $color-white;
				}
			}
		}
	}

	&.active {
		@include transform(scale3d(1, 1, 1));
		opacity: 1;
		visibility: visible;
	}

	.ps-product {
		padding: 0;
		cursor: pointer;

		.ps-product__title {
			display: flex;
			align-items: center;
			height: 36px;
			color: $color-font18;
		}
	}

	p {
		padding: 10px 25px;
		margin-bottom: 0;
		font-size: 13px;
	}
}

// 搜索型号内容展示
.ps-panel--search-result-hide {
	border: 1px solid #eaeaea;
	border-radius: 6px;
	max-height: 400px;
	// @include transform(scale3d(1, 1, 0));
	transition: all 0.4s ease;
	overflow: hidden;
	// opacity: 0;
	// visibility: hidden;
	z-index: 9999;
	cursor: pointer;
	color: #181818;

	&:active {
		@include transform(scale3d(1, 1, 1));
		opacity: 1;
		visibility: visible;
	}
}

.ps-form--account {
	max-width: 430px;
	margin: 0 auto !important;
	padding: 50px 0;
	@extend %list-reset;

	.ps-tab-list {
		text-align: center;
		margin-bottom: 30px;

		li {
			display: inline-block;
			padding: 0 15px;

			a {
				font-size: 30px;
				color: $color-text;
				font-weight: 600;
			}

			&.active {
				a {
					color: $color-heading;
				}
			}
		}
	}

	.form-forgot {
		position: relative;

		input {
			padding-right: 100px;
		}

		>a {
			@include vertical-align();
			right: 10px;
			color: $color-link;
			;

			&:hover {
				color: $color-1st;
			}
		}
	}

	.ps-checkbox {
		>label {
			color: $color-heading;
		}
	}

	.ps-form__content {
		padding: 30px;

		h5 {
			margin: 0 0 25px;
			font-size: 16px;
			font-weight: 400;
		}
	}

	.ps-form__footer {
		padding: 30px 30px;
	}

	.ps-tab {
		background-color: #ffffff;
	}
}

.ps-form--checkout {
	.ps-form__heading {
		height: 14px;
		line-height: 14px;
		font-size: 16px;
		color: $color-font18;
		margin-bottom: 20px;
		font-weight: 600;
	}

	.ps-form__submit {
		@media (min-width: 768px) {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
		}
	}

	.ps-block__panel {
		margin-bottom: 30px;
		padding: 10px 20px;
		border: 1px solid #d1d1d1;
		border-radius: 4px;

		figure {
			small {
				text-align: left;
			}

			strong {
				float: right;
			}
		}
	}
}