// shop-categories 有使用
#shop-categories {
	background-color: $color-bgcf5;
	padding-bottom: 60px;

	.ps-catalog-top {
		padding: 30px 0 0;
	}

	.ps-product-list {
		margin-bottom: 20px;
		padding: 20px 20px 50px;
		background-color: #ffffff;

		.ps-section__header {
			h3 {
				font-weight: 400;
			}
		}
	}

	.ps-more-categories {
		.ps-section__content {
			display: flex;
			flex-flow: row wrap;
		}
	}

	.ps-manufacturer-catalog-li {
		width: 50%;

		.ps-manufacturer-catalog-ul {
			margin: 5px 5px;
			padding: 0 5px;
			border-left: 1px dashed $color-1st;


			>li>a {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-decoration: underline
			}
		}

		@media screen and (max-width: 650px) {
			width: 100%;
		}
	}
}

#shop-sidebar {
	.ps-page__header {
		margin-bottom: 50px;

		h1 {
			margin-bottom: 20px;
			font-weight: 600;
			color: $color-heading;
			font-size: 24px;
		}
	}
}

#catalogs {
	width: 300px;
}

#rightCatalogs {
	width: calc(100% - 320px);

	.ps-block__content>ul>li>a {
		width: 100%;

		&:hover {
			color: $color-link !important;
			display: inline;

			.catalog-num {
				color: $color-link !important;
			}
		}
	}

	.ps-block__content>ul>li>div>ul>li:hover {
		a {
			color: #1770DE;
		}
	}
}

#contact-us {
	.ps-breadcrumb {
		margin-bottom: 0;
	}
}

.new-tag {
	display: inline-block;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 16px;
	color: $color-bgc555;
	background-color: $color-bgc37ee;
	border-radius: 3px;
}

// 文章详情
.articles-detail-page {
	.articles-detail-title {
		padding: 0 20px;
		margin: 0 -20px;
		// border-bottom: 1px solid $color-bgcd346;
	}

	.cover-image-box {
		padding: 15px 20px 20px 20px;
		border: 1px solid $color-bgcd346;
		border-radius: $radius6;
	}

	.special-product {
		padding: 0 0 8px 0;
		// border-radius: $radius6 $radius6 0 0;
	}

	// 给文章每一行设置一下行高和间距
	p {
		// line-height: 18px;
		margin-bottom: 16px;
	}

	ul {
		p {
			margin-bottom: 0;
		}
	}
}

// 相关文章
.related-blogs {
	padding-bottom: 0 !important;

	.recommend-item {
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: 1px solid #f5f5f5;
	}

	.recommend-item:last-child {
		border-bottom: none;
	}
}

.help-support-page {
	.child-item {
		border-bottom: 1px solid $color-bgcd346;
	}

	.child-item:last-child {
		border-bottom: none;
	}
}


.ps-page--404 {
	position: relative;
	min-height: calc(100vh - 60px - 200px);
	padding: 100px 0;
	background-color: $color-bgcf5;

	.ps-section__content {
		padding-bottom: 30px;
	}

	.title-404 {
		font-size: 72px;
		line-height: 54px;
	}

	.sub-title-404 {
		font-size: 42px;
		line-height: 46px;
	}

	@media (max-width: 1200px) {
		.ps-section__content {
			flex-direction: column;
			align-items: center;
		}
	}

	// .container {
	//     min-height: 70vh;
	//     display: flex;
	//     flex-flow: column wrap;
	//     justify-content: center;
	// }

	// @include media('<sm') {
	//     h3 {
	//         font-size: 24px;
	//     }
	//     p {
	//         font-size: 14px;
	//     }
	// }
}

.ps-page--shop {

	.ps-shop-categories {
		margin-bottom: 30px;
	}

	.ps-carousel--nav-inside {
		.owl-item {
			img {
				width: 100%;
			}
		}
	}

	@media (max-width: 1199px) {

		.ps-shop-categories,
		.ps-shop-categories,
		.ps-block--shop-features,
		.ps-block--shop-features {
			display: none;
		}
	}

	@include media('<sm') {
		.ps-product {
			.ps-product__vendor {
				padding-left: 10px;
				padding-right: 10px;
			}

			.ps-product__content:not(.hover) {
				width: 100%;
				left: 0;
				padding: 0 10px 20px;
			}
		}



		.exper-img {
			width: 350px;
			height: 350px;
		}

	}

	@media (min-width: 576px) and (max-width: 992px) {
		.container {
			max-width: 100%;
		}


		.exper-img {
			width: 250px;
			height: 250px;
		}

	}
}

.ps-page--product {
	padding-top: 20px;

	.ps-page__container {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;

		>* {
			width: 100%;
		}

		.ps-page__left {
			// padding-right: 20px;
			max-width: calc(100% - 420px);
		}

		.product-right {
			max-width: 420px;
		}

		.ps-page__right {
			min-width: 420px;

			height: max-content;

			.product-quote-btn {
				color: #3572BA;

				&:hover {
					color: #345e91;
				}
			}

			.product-right-flag {
				margin-top: 20px;
				// padding: 20px 15px;
				// background-color: #ecf0fc;
				border-radius: 6px;
				font-size: 13px;
				color: $color-bgc555;
				line-height: 18px;
			}

			.ps-product__right-quote {
				margin-bottom: 5px;
				font-size: 13px;
				color: $color-font18;

				.product-send-time-addredd {
					.product-send-time {
						font-style: italic;
						margin-bottom: 5px;
					}

					.product-send-addredd {
						font-style: italic;
					}
				}

				.product-not-shown {
					font-size: 16px;

					.product-not-top {
						color: $color-font18;
					}

					.product-not-shown-title {
						color: $color-link;
						cursor: pointer;
					}
				}

				.product-quantity {
					padding-bottom: 6px;
					border-bottom: 1px solid $color-bgcd346;
					font-family: Arial;
					height: 38px;
					line-height: 38px;
					font-size: 24px;
					color: #181818;
					text-align: left !important;
					letter-spacing: 0;
					font-weight: 500;
				}

				.ps_product__amount {
					display: flex;
					flex-direction: row;

					// align-items: baseline;
					thead>tr>th {}

					p {
						font-weight: 400;
						font-size: 16px;
					}

					.ps_product_total {
						text-align: right;
						font-size: 24px;
						font-weight: 500;
						color: $color-font18;
						line-height: 20px;
					}

					div {
						flex: 1;
						margin-bottom: 10px;
						text-align: right;
						font-family: Arial;
						// font-size: 16px;
						letter-spacing: 0;
						font-weight: 700;
					}
				}

				.ps-product__actions-btn-container {
					display: flex;
					justify-content: space-between;
					max-width: 500px;

					.ps-btn--black {
						color: #fff;
					}

					.product-primary-btn {
						width: 170px;
					}
				}

				.ps-product__btn-group {
					display: flex;
					justify-content: space-between;
					padding: 10px 0 20px;
					align-content: space-between;
					align-items: baseline;

					.ps-product-title {
						margin-bottom: 5px;
						color: $color-font18;
						font-size: 13px;
						font-weight: 600;
					}

					.ps-product__actions {
						a>i {
							font-size: 20px;
							margin: 4px;
						}
					}
				}

				.ps-product__btn-group-wrap {
					flex-wrap: wrap;
				}

				.ps_product__desc {
					width: 100%;
					margin-bottom: 16px;
					text-align: center;

					span {
						margin: 15px;
						font-family: Arial;
						font-size: 12px;
						color: #8C8C8C;
						letter-spacing: 0;
						font-weight: 400;
					}
				}

				.ps-product__prices {
					margin-top: 12px;
					border-radius: $radius6;

					.usd-pricing {
						font-size: 13px;
						color: $color-bgc555;
						line-height: 30px;
					}

					// .ps-table {
					//     border-collapse: separate;
					//     border-spacing: 0;
					//     thead {
					//         > tr {
					//             > th {
					//                 font-family: $font-1st;
					//                 font-size: 10px;
					//                 font-weight: 500;
					//                 color: $color-font18;
					//                 text-transform: uppercase;
					//                 background: #f5f7fa;
					//             }
					//         }
					//     }

					//     tbody {
					//         > tr {
					//             > td {
					//                 vertical-align: middle;
					//                 padding: 0 15px;
					//                 height: 32px;
					//                 color: $color-bgc555;
					//                 font-size: 13px;
					//             }
					//         }
					//     }
					// }

					.ps-table-need-more {
						margin-top: -3px;
						font-size: 13px;
						color: $color-bgc555;

						.ps-table-more {
							display: flex;
							align-content: center;
							margin-bottom: 10px;

							.product-quote-btn {
								margin-left: 8px;
								color: $color-link;
								cursor: pointer;
							}
						}
					}
				}
			}

		}

		.product-right-bot {
			display: none;
		}
	}


	&.reverse {
		.ps-page__container {
			flex-flow: row-reverse nowrap;
		}

		.ps-page__right {
			padding-right: 30px;
		}
	}

	.min-show-sescription {
		display: none;
	}
}

.ps-page--policy {

	.ps-section__content {

		strong {
			span {
				font-weight: 600;
			}
		}

		h3,
		h4 {
			text-align: left;
			margin-top: 60px;
		}

		p {
			// margin: 20px 0px;
			// line-height: 3rem;
			// font-size: 15px;
		}

		ul>li {
			list-style: none;
			margin-left: -40px;
			margin-top: 60px;
		}
	}
}


.ps-about-us {

	.ps-section__content {
		h3 {
			text-align: left;
		}
	}

	.bg--environment {
		text-align: center;
		margin-bottom: 30px;
	}


	table {
		margin: 40px 20px;

		tr {
			border: none !important;
			background-color: #fff !important;
		}

		th {
			background-color: #fff !important;
			border: none !important;
		}

		td {
			border: none !important;
			padding: 1px 13px !important;
		}
	}

	.exper-container {
		padding-top: 70px;
		padding-bottom: 70px;
		color: $color-font18;

		.exper-content {
			display: flex;

			.exper-img {
				height: fit-content;
				margin-right: 7%;
			}
		}

		.exper-title {
			margin-bottom: 65px;
			text-align: center;
			font-size: 30px;
		}

		.exper-text {
			padding-right: 15px;
			color: $color-bgc555;
			text-align: justify;
			font-size: 13px;
			line-height: 18px;
		}
	}

	.bar-container {
		padding: 80px 0;
		background-color: $color-bgcf5;

		.bar-title {
			font-size: 30px;
			line-height: 20px;
			text-align: center;
		}

		.bar-content {
			gap: 10px;
			margin-top: 50px;

			.bar-item {
				// transition: all .3s linear;
				flex: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				min-width: 200px;
				padding: 30px 20px 40px;
				background: linear-gradient(0deg, #FFFFFF, #EEF1F8);
				border: 3px solid #FFFFFF;
				box-shadow: 0px 0px 3px 0px rgba(211, 211, 211, 0.5);
				border-radius: $radius6;

				.bar-img {
					width: 100px;
					height: 100px;
				}

				.bar-label {
					font-size: 14px;
					color: #262626;
					letter-spacing: 0;
					text-align: center;
					font-weight: 400;
					margin-top: 20px;
				}

				// &:hover {
				//     margin-top: -12px;
				// }
			}

			/* 最后一个项目不要右边距 */
			.bar-item:last-child {
				margin-right: 0;
			}
		}
	}

	.articles-container {
		margin-top: 30px;

		.articles-1 {
			display: flex;
			padding: 100px;

			.articles-1-left {
				.articles-1-left-title {
					font-size: 36px;
					color: #262626;
					letter-spacing: 0;
					font-weight: 700;
				}

				.articles-1-left-line {
					width: 200px;
					height: 2px;
					background: #6DD400;
					margin-bottom: 20px;
					margin-top: 5px;
				}

				.articles-1-left-content {
					color: #262626;
					letter-spacing: 0;
					text-align: justify;
					line-height: 26px;
					font-weight: 400;
					margin-right: 70px;
				}
			}

			.articles-1-right {
				width: 540px;
				height: 325px;
			}
		}

		.articles-2 {
			margin-bottom: 30px;

			.articles-2-top {

				.articles-2-title {
					font-size: 36px;
					color: #262626;
					letter-spacing: 0;
					text-align: center;
					font-weight: 700;
				}

				.articles-2-line {
					margin: 0 auto;
					width: 200px;
					height: 2px;
					background: #567FFE;
					margin-top: 5px;
					margin-bottom: 20px;
				}
			}

			.articles-2-quest {
				margin: 10px 100px;
				height: 100px;
				background: #FBFBFC;
				border-radius: 50px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: 30px;

				.img {
					width: 100px;
					height: 100px;
					background: #567FFE;
					border-radius: 50%;
					color: #FFFFFF;
					display: flex;
					justify-content: center;
					align-items: center;

					i {
						font-size: 45px;
					}
				}

				.articles-2-question {
					font-size: 16px;
					color: #262626;
					letter-spacing: 0;
					text-align: justify;
					line-height: 26px;
					font-weight: 400;
					margin-left: 150px;
				}
			}

			.articles-2-res {
				margin: 10px 100px;
				height: 400px;
				background: #F6FFED;
				border-radius: 80px;
				position: relative;
				border-bottom-right-radius: 0;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 50px;
				padding-right: 200px;

				&::after {
					display: block;
					content: '';
					height: 400px;
					width: 150px;
					background-color: #fff;
					position: absolute;
					top: 0;
					right: 0;
					border-bottom-left-radius: 100%;
				}

				.img {
					width: 100px;
					height: 100px;
					position: absolute;
					right: -36px;
					bottom: 12px;
					z-index: 99;
					background: #50BD45;
					border-radius: 50%;
					color: #FFFFFF;
					display: flex;
					justify-content: center;
					align-items: center;

					i {
						font-size: 45px;
					}
				}
			}


		}
	}

	.articles-box {
		.articles-title {
			padding-top: 57px;
			text-align: center;
			font-size: 30px;
		}

		.articles-des {
			max-width: 1100px;
			margin: 10px auto 20px;
			color: $color-bgc555;
			line-height: 18px;
		}

		.articles-values {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			padding-bottom: 20px;

			.articles-item {
				position: relative;

				.articles-item-label {
					position: absolute;
					top: 20px;
					left: 20px;
					font-size: 18px;
					color: $color-white;

					.articles-item-des {
						font-size: 13px;
						margin-top: 16px;
					}
				}

				.articles-item-img {
					min-height: 150px;
				}
			}
		}
	}

	.certificate-box {
		padding-bottom: 80px;

		.certificate-tit {
			padding-top: 80px;
			margin-bottom: 40px;
			text-align: center;
			line-height: 24px;
		}
	}

	.manu-container {
		.manu-top {
			.manu-top-title {
				font-size: 36px;
				color: #262626;
				letter-spacing: 0;
				text-align: center;
				font-weight: 700;
				display: block;
			}

			.manu-top-line {
				margin: 0 auto;
				width: 200px;
				height: 2px;
				background: #567FFE;
				margin-top: 10px;
			}
		}
	}


}

// tabs - 页面内导航
.tabs-container {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 150px;
	height: 52px;
	box-shadow: 0px 0px 5px 0px #D3D3D3;
	background-color: #fff;
	font-size: 16px;
	z-index: 9;
	// overflow-x: auto;

	.tabs-active {
		position: relative;
		color: $color-link !important;

		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			height: 2px;

			background-color: #1770DE;
			width: 100%;
			left: 0;
			bottom: -13px;
		}
	}

	.tabs-item {
		margin: 0 30px;
		font-size: 16px;
		letter-spacing: 0;
		font-weight: normal;
		// color: $color-bgc555;
		cursor: pointer;
		white-space: nowrap;

		&:hover {
			color: $color-link;
		}
	}

}

.m-tabs-container {
	display: block;
	// justify-content: flex-start;
	margin-bottom: 5px;

	.m-tabs-item {
		margin-top: 15px;
		margin-left: 0;
		margin-right: 80px;
	}
}

.ps-manufacturer {
	.blocks-featured-manufacturer {
		padding-top: 10px;
	}

	.view-all {
		margin-top: -40px;
		padding-bottom: 60px;
	}
}

.ps-contact-us {
	@media (max-width: 1440px) {
		.pub-top-bgc-title {
			margin-bottom: 10px !important;
		}
	}

	padding-bottom: 60px;

	.contact-us-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 20px;

		.contact-us-left {
			height: fit-content
		}

		.contact-us-right {
			width: calc(100% - 320px);

			// min-width: 660px;
			.contact-us-top {
				min-height: 320px;
			}

			.contact-form {
				width: 620px;
				max-width: 100%;
			}
		}
	}
}

.order-detail-modal {
	padding-top: 0 !important;
	padding-bottom: 10px !important;
	background-color: $color-white !important;

	.shopping-cart-container {
		padding-top: 0;
		background-color: $color-white !important;
	}

	.ps-shopping-cart-left {
		.cart-tabs {
			height: 25px !important;
		}
	}

	.ps-block--checkout-order {
		.pub-left-title {
			height: 25px !important;
		}
	}

	.ps-block--checkout-order {
		.ps-block--checkout-content {
			width: 300px;
		}
	}

}

.ps-page--account {
	padding: 20px 0 0px 0;

	.contact-information {
		display: flex;
		align-items: center;
		line-height: 28px;

		.contact-label {
			width: 120px;
			font-weight: 600;
		}

		.contact-val {
			color: $color-bgc555;
		}
	}

	.ps-page__right {
		width: calc(100% - 270px);
	}

	// account 页面共用
	.account-box {
		display: flex;
		justify-content: space-between;
	}

	.account-title {
		margin-bottom: 13px;
		font-size: 24px;
	}

	.ps-page--account-conpon-m {
		display: flex;
		justify-content: center;
		height: 100px;
		align-items: center;

		a {
			color: #0867bc;
			font-size: 18px;
			font-weight: bold;
		}
	}

	.ps-page__left {
		height: 100%;
		padding: 30px 20px;
		border-radius: 4px;
		background-color: #fff;
	}

	.ps-page__dashboard {
		p {
			font-size: 16px;

			a {
				color: $color-linkedin;

				&:hover {
					color: $color-1st;
				}
			}
		}
	}
}

// upload上传框
.upload-box {
	.left-title {
		padding: 15px 15px 15px 20px;
		font-size: 16px;
		font-weight: 600;
		color: $color-font18;
		border-bottom: 1px solid $color-bgcd346;
	}

	.left-title-simple {
		padding: 15px 15px 15px 20px;
		font-size: 16px;
		color: $color-font18;
	}

	.upload-center {
		flex-direction: column;
		padding-bottom: 30px;
	}

	.upload-box {
		padding: 30px 45px 20px;
		margin: 20px 20px 0px;
		width: fit-content;
		border: 1px dashed $color-link;
		border-radius: $radius6;
		cursor: pointer;

		.upload-text {
			font-size: 14px;
			font-weight: 600;
		}

		.sprite-about-us-1-1 {
			margin: 0 auto;
		}
	}
}

.not-allow-upload {
	cursor: auto;
	background-color: $color-bgcde8;
	border: 1px solid $color-bgcd98;

	.sprite-bom-2-1 {
		margin: 0 auto;
	}
}

// 网站地图

.pub-danger-border:not(.ant-select-customize-input) .ant-select-selector {
	border: 1px solid $color-danger !important;
}

// bom详情
.bomTime {
	position: relative;
	padding-left: 20px;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: -16px;
		width: 1px;
		height: 50px;
		background: $color-bgcd346;
	}

	// border-left: 1px solid $color-bgcd346;
}

.ps-page-filter {
	.filter-container {
		max-width: 100%;
		padding-left: 30px;
	}
}

@media (min-width: 1200px) {
	.ps-page-filter {
		.filter-des {
			margin-right: 30px;
		}
	}
}

// 产品详情页自适应
.ps-page--product {

	// 详情属性质量页面
	@media (max-width: 1000px) {
		.first-tr {
			width: auto;
		}

		.min-show-sescription {
			display: block !important;
			margin-top: -10px;

			.ps-product__content {
				display: block !important;
			}
		}

		.ps-page__left {
			max-width: 100% !important;
		}

		.ps-page__right {
			min-width: 320px !important;
		}

		.ps-product-data-list {
			margin-right: 5px !important;
		}
	}

	@media (max-width: 1000px) {
		.product-right {
			display: none;
		}

		.product-right-bot {
			display: block !important;
			margin-top: 20px;
		}
	}
}

.account-menu-side {
	width: 22px;
	height: 22px;
	background-position: -177px -4px;
	background-size: 382px 105px !important;
}


@media (max-width: 1200px) {

	// 所有分类页面
	.ps-catalog-top {
		.catalogs__top-fixed {
			position: relative;
			top: 0;
			width: 100% !important;

			.ps-block--menu-categories {

				// display: none;
				// margin-bottom: 20px;
				.left-nav {
					height: 250px;
				}
			}
		}

		.rightCatalogs__float {
			width: auto !important;
			margin-left: 0 !important;
			margin-top: 15px;
		}

		.catalog-top-img {
			width: 60px !important;
			min-width: 60px !important;
		}
	}

	// 关于我们页面
	.ps-about-us {
		.exper-content {
			.exper-img {
				margin-right: 20px !important;
			}
		}

	}

	// 关于我们页面
	.ps-about-us {
		.tabs-container {
			justify-content: start;
			padding: 0 16px;
			overflow-x: scroll;

			.tabs-item {
				margin: 0 20px;
			}
		}
	}
}

@media (max-width: 1000px) {

	// filter页面
	.ps-page-filter {
		.pub-search {
			width: 300px;

			.pub-search-input {
				width: 300px;
			}
		}
	}

	.filter-manufacturer {
		margin-right: 0;

		.filter-manufacturer-img {
			max-width: 160px;
		}

		.filter-manufacturer-right {
			margin-top: 10px;
		}
	}

	// 子分类页面
	.ps-page-catalog {
		.ps-product-catalog-right {
			width: auto !important;
			margin-left: 0;
		}

		.catalog-left-nav {
			display: none;
		}

		.pub-search {
			width: 100%;
		}
	}

	// filter页
	.ps-page-filter {
		.filter-container {
			padding-left: 20px;
		}

		.product-filter-container {
			margin-right: 0;
		}

		.product-table-container {
			margin-right: 0 !important;
		}
	}

	// 关于我们页面
	.ps-about-us {
		.contact-sales {
			display: none;
		}

		.exper-title {
			margin-bottom: 30px !important;
		}

		.exper-container {
			padding-top: 30px;
		}

		.exper-content {
			flex-wrap: wrap;

			.exper-img {
				margin-bottom: 15px;
			}
		}

	}

	// 联系我们页面
	.contact-us-box {
		.contact-us-left {
			width: 100% !important;

			.flex-gap {
				display: flex;
				gap: 20px;
			}
		}

		.contact-us-right {
			width: 100% !important;

			.contact-form {
				width: 100% !important;
			}
		}

		.form-control {
			width: 100% !important;
		}
	}
}

@media (max-width: 800px) {

	// filter页面
	.ps-page-filter {
		.filter-remaining {
			margin-top: 10px;
		}
	}

	.ps-block--category-2 {
		.catalog-column-count {
			column-count: 1;
		}
	}
}

@media (width <=750px) {
	.hot-recommend-discount-wrapper {
		flex-direction: column;

		& .pub-left-nav {
			width: unset !important;
			position: unset !important;
			top: unset !important;
			height: unset !important;

			& .ps-block--menu-categories {
				& .ps-block__content {
					height: 220px;
				}
			}
		}

		& .pub-search {
			width: unset !important;

			& .pub-search-input {
				width: 100% !important;
			}
		}
	}

	#rightCatalogs {
		width: 100% !important;
		margin-left: 0 !important;
	}

	.m-swiper-item {
		position: relative;
		display: flex;
		align-items: center;
		height: 200px;
		// min-height: 500px;

		& .ps-block-banner-content {
			// position: absolute;
			// width: 500px;
			// z-index: 200;
			// text-align: center;
			// left: 50%;
			// bottom: 0;
			// transform: translate(-50%,-30px);

			& .ps-block-banner-title {
				line-height: 22px;
				font-size: 16px;
				font-weight: 600;
				// word-break: break-all;
			}

			& .ps-block-banner-text {
				margin-top: 5px !important;
				margin-bottom: 5px !important;
				font-size: 14px;
				line-height: 24px;
				font-weight: 400;
			}

			& button {
				margin-top: 10px;
				font-size: 12px;
			}
		}
	}

	.pubObjectFitNone {
		object-fit: cover;
	}

	// .manufacturer-banner {
	// 	min-height: 220px !important;

	// 	& .vue-ueditor-wrap {
	// 		width: 100% !important;
	// 	}
	// }

	.m-tabs-container {
		padding: 0 !important;

		& .m-tabs-item {
			margin-right: 20px;
		}
	}

	.manufacturer-detail-container {
		& .pub-layout-left {
			width: 100% !important;
			position: unset !important;
			top: unset !important;
			z-index: unset !important;
			height: unset !important;

			& .pub-custom-input-box {
				width: 100% !important;
				padding-right: 0 !important;

				& input.ant-input {
					width: 100% !important;
				}
			}
		}

		& .pub-layout-right {
			width: 100% !important;
			margin-top: 20px;
			margin-left: 0 !important;
		}
	}

	.account-box {
		& .ps-page__left {
			width: 22px !important;
			background-color: transparent !important;
		}

		& .ps-page__right {
			width: calc(100% - 42px) !important;
		}
	}

	.account-wrapper {
		& .account-order-table-header {
			overflow: auto;
		}
	}

	.account-box {
		& .ps-page__left {
			width: 22px !important;
			background-color: transparent !important;
			position: absolute;
			right: 20px;
			top: 29px;
		}

		& .ps-page__right {
			width: 100% !important;
			margin-left: 0 !important;
		}
	}

	// bom
	.upload-box {
		.upload-box {
			padding: 20px 15px 10px;
			margin: 10px 10px 0px 0;
		}
	}
}

@media (width >=751px) and (width <=1200px) {
	.hot-recommend-discount-wrapper {
		flex-direction: column;

		& .pub-left-nav {
			width: unset !important;
			position: unset !important;
			top: unset !important;
			height: unset !important;

			& .ps-block--menu-categories {
				& .ps-block__content {
					height: 290px;
				}
			}
		}

		& .pub-search {
			width: unset !important;

			& .pub-search-input {
				width: 100% !important;
			}
		}
	}

	#rightCatalogs {
		width: 100% !important;
		margin-left: 0 !important;
	}

	.m-swiper-item {
		position: relative;
		// height: 200px;
		min-height: 340px;

		& .ps-block-banner-content {
			// position: absolute;
			// width: 100%;
			// z-index: 200;
			// text-align: center;
			// left: 50%;
			// bottom: 0;
			// transform: translate(-50%,-30px);

			& .ps-block-banner-title {
				font-size: 21px;
				font-weight: 600;
				word-break: break-all;
			}

			& .ps-block-banner-text {
				font-size: 18px;
				font-weight: 400;
			}

			& button {
				font-size: 12px;
			}
		}
	}

	.manufacturer-header {
		& .vue-ueditor-wrap {
			width: 80% !important;
		}
	}

	.manufacturer-detail-container {
		& .pub-layout-left {
			width: 100% !important;
			position: unset !important;
			top: unset !important;
			z-index: unset !important;
			height: unset !important;

			& .pub-custom-input-box {
				width: 100% !important;
				padding-right: 0 !important;

				& input.ant-input {
					width: 100% !important;
				}
			}
		}

		& .pub-layout-right {
			width: 100% !important;
			margin-top: 20px;
			margin-left: 0 !important;
		}
	}

	.account-box {
		& .ps-page__left {
			width: 22px !important;
			background-color: transparent !important;
			position: absolute;
			right: 30px;
			top: 29px;
		}

		& .ps-page__right {
			width: 100% !important;
			margin-left: 0 !important;
		}
	}
}