* {
	font-family: Arial;
	font-weight: 400;
}

// html {
// 	font-size: 62.5%;
// }

// body {
// 	font-size: $document-font-size;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
	// position: relative;
	color: inherit;
	margin-top: 0;
	line-height: inherit;
	font-size: inherit;
	margin-bottom: 0px;
	font-weight: 700;

	a {
		color: inherit;
	}
}

// h1 {
//     font-size: 48px;
// }

// h2 {
//     font-size: 36px;
// }

// h3 {
//     font-size: 24px;
// }

// h4 {
//     font-size: 18px;
// }

// h5 {
//     font-size: 14px;
// }

// h6 {
//     font-size: 12px;
// }

p {
	margin-bottom: 0;
	// line-height: 16px;
	// font-size: 13px;
	// color: $color-bgc555;

	span {
		color: inherit;
		font-size: inherit;
	}
}

a {
	position: relative;
	color: inherit !important;
	text-decoration: none;
	@include transition(all 0.4s ease);

	&:hover {
		color: $color-1st;
	}
}

.pub-link-a {
	a {
		color: $color-link !important;
	}
}

.site-content {
	a {
		color: inherit;
	}
}

a,
input,
textarea,
button,
select {
	outline: none !important;
	text-decoration: none !important;
}

span {
	text-decoration: none !important;
}

a:hover,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus {
	text-decoration: none;
}

a:focus,
button:focus,
select:focus,
input:focus,
textarea:focus {
	outline: none;
	text-decoration: none;
}

img {
	max-width: 100%;
}

iframe {
	border: 0;
	max-width: 100%;
	width: 100%;
}

figure {
	margin: 0;
}

ul {
	list-style: none;
}

.layout--default {
	a {
		color: inherit;
	}
}


// 富文本编辑器专属   
.vue-ueditor-wrap {
	width: 100%;
	overflow: auto;

	* {
		font-weight: inherit;
	}

	a {
		color: #1770DE !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		// position: relative;
		color: inherit;
		margin-top: 0;
		line-height: inherit;
		font-size: 1.8rem; // unset 默认值
		margin-bottom: 0px;
		font-weight: 700;

		a {
			color: inherit;
		}
	}

	strong {
		font-size: 16px;
		font-weight: 600;
	}

	ul,
	ol {
		list-style: inherit;
		margin-bottom: 10px;

		ul,
		ol {
			margin-bottom: 0;
		}
	}
}