@import '/scss//utils/variable';
// style={{
//     position: 'absolute',bottom: '0',width: '100%',height: '30px',
//     lineHeight: '30px', border: '1px solid #e3e4e6', textAlign: 'center',
//     background: '#fff', borderRadius: '0 0 6px 6px'
// }}
.filterClear {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid $color-bgcd346;
    color: $color-link;
    text-align: center;
    background: $color-white;
    border-radius: 0px 0px $radius6 $radius6;
    cursor: pointer;
}