@import '/scss/utils/variable';

.menuProductHead {
	height: 60px;
	box-sizing: border-box;
	background-color: $color-bgcf5;
	box-shadow: inset 0 -1px $color-box-shadow3d;

	.headOpearation {
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}

	.headOpearationCN {
		width: 100%;
		max-width: 1582px;
		margin: 0 auto;
	}

	.headViewAll {
		width: 300px;
		// padding-right: 26px;
		margin-left: -2px;
		padding-right: 1px;
	}

	.headSearched {
		padding-left: 21px;
	}
}

.menuProductContent {
	max-width: 1440px;
	margin: 0 auto;
}

.menuProductContentCN {
	max-width: 1582px;
	margin: 0 auto;
}

.menuBtn {
	line-height: 1.5715;
	position: relative;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	// border: 1px solid transparent;
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	height: 32px;
	padding: 4px 0px;
	font-size: 14px;
	border-color: $color-borderd9;
	// background: $color-white;
	border-radius: 6px;
	font-weight: 500;

	&:hover {
		color: $color-link !important;
		// border-color: #40a9ff;
	}
}

@media (max-width: 1599px) {

	.headOpearation,
	.menuProductContent,
	.menuProductContentCN,
	.headOpearationCN {
		padding: 0 20px
	}
}