@import '/scss//utils/variable';

// 域名改变
.language-box {
	column-count: 5; // 每列显示10个项目
	column-gap: 20px;

	/* 可选：设置列之间的间隔 */
	.language-item {
		height: 17px;
		break-inside: avoid;
		/* 可选：避免项目被分割到不同的列中 */
	}
}

// 回到顶部
.psBtnBacktop {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 52px;
	background-image: linear-gradient(0deg, #ffffff 0%, #f3f5f8 100%);
	box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, .1);
	border-radius: 100px !important;
	border: 2px solid #fff;
	z-index: 10000;
	background-color: #fff;
	// border: 1px solid #eaeaea;
	pointer-events: auto;

	i {
		color: $color-text;
	}

	&:hover {
		cursor: pointer;
		// border-color: $color-1st;
		border-radius: 50px !important;
		box-shadow: $box-shadow-hover;

		i {
			color: $color-1st;
		}
	}

	// @include media('<lg') {
	//     display: none;
	// }
}