// 订单详情
.sprite-max-icons-order {
    background-image: url(/static/img/icons/max-icons-order.svg);
    background-repeat: no-repeat;
    background-size: 210px 74px;
    // background-size: 260px 96px;
}
.sprite-max-icons-order-1-1 {
    width: 34px;
    height: 34px;
    background-position: 0 -1px;
}
.sprite-max-icons-order-1-2 {
    width: 34px;
    height: 34px;
    background-position: -35px -1px;
}
.sprite-max-icons-order-1-3 {
    width: 34px;
    height: 34px;
    background-position: -70px -1px;
}
.sprite-max-icons-order-1-4 {
    width: 34px;
    height: 34px;
    background-position: -105px -1px;
}
.sprite-max-icons-order-1-5 {
    width: 34px;
    height: 34px;
    background-position: -140px -1px;
}
.sprite-max-icons-order-1-6 {
    width: 34px;
    height: 34px;
    background-position: -174px -1px;
}
.sprite-max-icons-order-1-7 {
    width: 34px;
    height: 34px;
    background-position: -2px -37px;
}
.sprite-max-icons-order-1-8 {
    width: 34px;
    height: 34px;
    background-position: -38px -37px;
}
.sprite-max-icons-order-1-9 {
    width: 34px;
    height: 34px;
    background-position: -74px -37px;
}
.sprite-max-icons-order-1-10 {
    width: 34px;
    height: 34px;
    background-position: -110px -37px;
}
.sprite-max-icons-order-1-11 {
    width: 34px;
    height: 34px;
    background-position: -148px -39px;
}