@import '/scss/utils/variable';

// 管理公共的一些样式，不能放一些每个页面都有的， 比如： 头部和底部
// li列表前带.
.saveListUl {
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 0;

	li {
		&::before {
			content: '';
			display: inline-block;
			width: 5px;
			height: 5px;
			margin-right: 10px;
			margin-bottom: 2px;
			background-color: $color-bgc555;
			border-radius: 50%;
		}
	}
}