// 面包屑
.ps-breadcrumb {
    padding: 16px 0 0 0;

    .breadcrumb {
        display: inline-block;
        margin: 0;
        padding: 0;
        background-color: transparent;

        li {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            color: $color-font888;

            &:before {
                content: '/';
                //font-family: FontAwesome;
                margin: 0 5px;
            }

            &:first-child {
                padding-left: 0;

                &:before {
                    display: none;
                }
            }
        }

        a {
            line-height: 20px;
            color: $color-font18;

            &:hover {
                color: $color-link !important;
            }

            i {
                margin-right: 5px;
            }
        }
    }

    @include media('<md') {
        position: relative;
        .breadcrumb {
            // max-width: 80%;
        }
    }
}
