// 2.23检查都有使用
.table-responsive {
	@media (min-width: 1200px) {
		overflow-x: initial;
	}
}

.ps-table {
	thead {
		>tr {
			>th {
				font-family: $font-1st;
				font-size: 13px;
				color: $color-font18;
				text-transform: uppercase;
				border-bottom: none;
				border-top: none;
			}
		}
	}

	tbody {
		>tr {
			>td {
				vertical-align: middle;
				padding: 15px 30px;
				color: $color-text;
			}
		}
	}
}

.ps-table--specification {
	tbody {
		tr {
			cursor: pointer;

			&:hover {
				box-shadow: 0px 0px 4px 0px $color-bgcd3;
				background: #dcf4ff;
				// background: #f8b551
			}

			td,
			th {
				padding: 5px 30px;

				&:first-child {
					font-weight: 600;
					color: $color-bgc555;
					width: 290px;
				}
			}
		}
	}

	.table-product-th {
		display: contents;
		align-items: center;
		font-size: 14px;
		height: 32px;
		background: #f5f7fa;
		border-radius: 6px 6px 0px 0px;

		th {
			font-size: 14px;
			color: $color-bgc555;
			font-weight: bold;
			padding: 0 15px;
			height: 32px;
			line-height: 32px;

			&:last-child() {
				width: 290px;
			}
		}
	}
}

.ps-table-top-button {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 10px;

	.default {
		background-color: #fff;
		color: #3572BA;
		border: 1px solid #3572BA;
		margin-right: 10px;
	}
}

// table
.ps-table {
	border-collapse: separate;
	border-spacing: 0;

	thead {
		>tr {
			>th {
				padding-left: 15px;
				padding-right: 15px;
				font-family: Arial;
				font-size: 13px;
				font-weight: 500;
				color: $color-font18;
				text-transform: uppercase;
				background: #f5f7fa;
			}
		}
	}

	tbody {
		>tr {
			>td {
				vertical-align: middle;
				padding: 4px 15px;
				padding-top: 7px;
				color: $color-bgc555;
				font-size: 13px;
				border-top: 1px solid $color-bgcd346;
				border-bottom: none;
				border-right: none;
			}
		}
	}
}

.ps-table-pub {
	.ps-table-pub-text-left {
		padding-left: 14px;
		text-align: left;
	}

	.ps-table-pub-text-right {
		padding-right: 14px;
		text-align: right;
	}
}

.ps-similar-table {
	border-color: none !important;

	table {
		border-top: none !important;
	}

	thead {
		.ant-table-cell {
			padding: 3px 8px !important;
			// background-color: $color-bgcd346;
			background: #f5f7fa;
		}
	}

	.ant-table-bordered {
		.ant-table-container {
			border-radius: none !important;
			border-left: none !important;

			border-top: none !important;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
	}

	.ant-table-cell {
		&:last-child {
			border-right: none !important;
			border-bottom: none;
		}
	}


	tr {
		&:last-child {
			border-right: none !important;

			td {
				border-bottom: none !important;

				&:first-child {
					border-bottom-left-radius: 6px; // 左下角圆角
				}

				&:last-child {
					border-bottom-right-radius: 6px; // 右下角圆角
				}
			}
		}
	}
}