.widget {
	position: relative;
	padding: 0 0 24px 0;

	.widget-title {
		margin-bottom: 2.5rem;
		font-weight: 700;
	}

	&:last-child {
		border-bottom: none;
	}
}




// 2.23检查都有使用
.widget_footer {
	@extend %list-reset;

	.widget-title {
		font-size: 14px;
		margin-bottom: 15px;
		color: $color-font18;
	}

	.ps-list--link {
		max-width: 150px;
	}

	.safe-payment {
		li {
			width: 45px;
			margin: 0 15px 15px 0;

			img {
				width: 45px;
			}
		}
	}

	.subscribe-email {
		background-color: $color-link !important;
	}
}

.widget_contact-us {
	color: $color-bgc555;
	padding-right: 40px;

	&:after {
		content: "";
		width: 1px;
		height: 170px;
		background-color: #e3e7ee;
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
	}

	.widget_content {
		h3 {
			display: flex;
			color: $color-white;
		}

		.widget_content-item {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			font-size: 13px;
			color: $color-bgc555;

			.concat-text {
				margin-left: 20px;
				line-height: 20px;
				min-width: 120px;

				a {
					color: $color-bgc555;
				}
			}
		}
	}
}

.aaa {
	.widget_contact-us {
		&:after {
			width: 0;
		}
	}
}